<%- include("partials/header.ejs") %>
    <div class="container profile">
        <h2>
            <%= user.firstName %>
                <%= user.lastName %>
        </h2>
        <div class="list-container">
            <h4 class="mb-4">
                <%= user.userName %>'s today schedule
            </h4>
            <% locals.data.forEach((item)=>{ %>
                <div class="list-item">
                    <form action="/delete" method="post">
                        <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
                    </form>

                    <p id="title<%=item.id%>" class="m-0">
                        <%= item.todo_title %>
                    </p>

                    <form class="edit" action="/edit" method="post">
                        <input type="hidden" name="updatedItemId" value="<%= item.id %>">
                        <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.todo_title %>"
                            autocomplete="off" autofocus="true" hidden="true" />
                        <button id="done<%=item.id%>" class="edit" type="submit" hidden>change</button>
                    </form>
                    <button id="edit<%=item.id%>" class="edit" onclick="handler('<%=item.id%>')"><img class="icon"
                            src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
                </div>
                <% }); %>
                    <form id="addnew" action="/add" method="post" hidden>
                        <input type="text" name="newItem" autofocus="on" autocomplete="off">
                        <input type="hidden" name="userId" value="<%= user.userId %>">
                        <p>at</p>
                        <input type="time" name="userTime">
                        <button type="submit">add</button>
                    </form>
                    <div id="addnew-btn" class="btn rounded-circle" onclick="swapper('addnew-btn', 'cancelAdd-btn')">+
                    </div>
                    <div id="cancelAdd-btn" class="btn rounded-circle" onclick="swapper('addnew-btn', 'cancelAdd-btn')"
                        hidden>✖</div>

        </div>
    </div>
    <script>
        function handler(id) {
            document.getElementById("title" + id).setAttribute("hidden", true);
            document.getElementById("edit" + id).setAttribute("hidden", true);
            document.getElementById("done" + id).removeAttribute("hidden");
            document.getElementById("input" + id).removeAttribute("hidden");
        }

        function swapper(swapFrom, swapTo) {
            document.getElementById(swapFrom).toggleAttribute("hidden");
            document.getElementById(swapTo).toggleAttribute("hidden");
            document.getElementById("addnew").toggleAttribute("hidden");
        }
    </script>
    <%- include("partials/footer.ejs") %>