<%- include("partials/header.ejs") %>
    <div class="container profile">
        <h2>
            <%= user.first_name %>
                <%= user.last_name %>
        </h2>
        <div class="list-container shadow p-3 mb-5 rounded">
            <p class="mb-4">
                <%= user.user_name %>'s today schedule
            </p>
            <% locals.data.forEach((item)=>{ %>
                <div class="list-item">
                    <form class="delete-check-btn" action="/delete" method="post">
                        <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= item.id %>">
                    </form>

                    <p id="title<%=item.id%>" class="m-0">
                        <%= item.todo_title %> at <%= item.time %>
                    </p>

                    <form class="edit-list" action="/edit" method="post">
                        <input type="hidden" name="updatedItemId" value="<%= item.id %>">
                        <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.todo_title %>"
                            autocomplete="off" autofocus="true" hidden="true" />
                        <p hidden="true">at</p>
                        <input id="editTime<%= item.id %>" type="time" name="editTime" value="<%= item.time %>"
                            hidden="true">
                        <button id="done<%=item.id%>" class="edit" type="submit" hidden>change</button>
                    </form>
                    <button id="edit<%=item.id%>" class="edit-btn" onclick="handler('<%=item.id%>')"><img class="icon"
                            src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
                    <a id="cancelEdit-btn" href="/profile" hidden="true">cancel</a>
                </div>
                <% }); %>
                    <form class="mt-3" id="addnew" action="/add" method="post" hidden>
                        <input type="text" name="newItem" autofocus="on" autocomplete="off" required>
                        <input type="hidden" name="user_id" value="<%= user.id %>">
                        <p>at</p>
                        <input type="time" name="userTime">
                        <button class="add-btn rounded" type="submit">add</button>
                    </form>
                    <div id="addnew-btn" class="btn rounded-circle mt-3"
                        onclick="swapper('addnew-btn', 'cancelAdd-btn')">+
                    </div>
                    <div id="cancelAdd-btn" class="btn rounded-circle mt-3"
                        onclick="swapper('addnew-btn', 'cancelAdd-btn')" hidden>✖</div>

        </div>
    </div>
    <script>
        function handler(id) {
            document.getElementById("title" + id).setAttribute("hidden", true);
            document.getElementById("edit" + id).setAttribute("hidden", true);
            document.getElementById("done" + id).removeAttribute("hidden");
            document.getElementById("input" + id).removeAttribute("hidden");
            document.getElementById("editTime" + id).removeAttribute("hidden");
            document.querySelector(".edit-list>p").removeAttribute("hidden");
            document.querySelector(".list-item>#cancelEdit-btn").removeAttribute("hidden");
            ducument.querySelector(".list-item>.delete-check-btn").setAttribute("hidden", true);

        }

        function swapper(swapFrom, swapTo) {
            document.getElementById(swapFrom).toggleAttribute("hidden");
            document.getElementById(swapTo).toggleAttribute("hidden");
            document.getElementById("addnew").toggleAttribute("hidden");
        }
    </script>
    <%- include("partials/footer.ejs") %>