<%- include("partials/header.ejs") %>
    <div class="container profile">
        <h2>
            <%= user.first_name %>
                <%= user.last_name %>
        </h2>
        <div class="list-container shadow p-3 mb-5 rounded">
            <p class="mb-4">
                <%= user.user_name %>'s today schedule
            </p>
            <%if(locals.data){ data.forEach((item)=>{ %>
                <div class="list-item">

                    <div id="existingItem<%= item.id %>" class="existing-item">
                        <form id="deleteItem<%= item.id %>" class="delete-check-btn me-2" action="/delete"
                            method="post">
                            <input type="checkbox" onchange="this.form.submit()" name="deleteItemId"
                                value="<%= item.id %>">
                        </form>
                        <p id="title<%=item.id%>" class="m-0">
                            <%= item.todo_title %> at <%= item.time %>
                        </p>
                        <button id="editBtn<%=item.id%>" class="edit-btn" onclick="handler('<%=item.id%>')"><img
                                class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
                    </div>

                    <form id="editItemForm<%= item.id %>" class="edit-list-item" action="/edit" method="post" hidden>
                        <input type="hidden" name="updatedItemId" value="<%= item.id %>">
                        <input id="input<%=item.id%>" type="text" name="updatedItemTitle" value="<%= item.todo_title %>"
                            autocomplete="off" autofocus="true" />
                        <p>at</p>
                        <input id="editTime<%= item.id %>" type="time" name="editTime" value="<%= item.time %>">
                        <button id="done<%=item.id%>" class="edit" type="submit">change</button>
                        <button id="cancelEditBtn<%= item.id %>" type="button"
                            onclick="cancelEdit('<%= item.id %>')">cancel</button>
                    </form>
                </div>
                <% });} %>
                    <form class="mt-3" id="addnew" action="/add" method="post" hidden>
                        <input type="text" name="newItem" autofocus="on" autocomplete="off" required>
                        <input type="hidden" name="user_id" value="<%= user.id %>">
                        <p>at</p>
                        <input type="time" name="userTime" required>
                        <button type="submit">add</button>
                    </form>
                    <div id="addnew-btn" class="btn rounded-circle mt-3"
                        onclick="swapper('addnew-btn', 'cancelAdd-btn')">+
                    </div>
                    <div id="cancelAdd-btn" class="btn rounded-circle mt-3"
                        onclick="swapper('addnew-btn', 'cancelAdd-btn')" hidden>✖</div>

        </div>
    </div>
    <script>
        function handler(id) {
            document.getElementById("editItemForm" + id).removeAttribute("hidden");
            document.getElementById("existingItem" + id).setAttribute("hidden", true);
            document.getElementById("editBtn" + id).setAttribute("hidden", true);
        }

        function cancelEdit(id) {
            document.getElementById("editItemForm" + id).setAttribute("hidden", true);
            document.getElementById("existingItem" + id).removeAttribute("hidden");
            document.getElementById("editBtn" + id).removeAttribute("hidden");
        }

        function swapper(swapFrom, swapTo) {
            document.getElementById(swapFrom).toggleAttribute("hidden");
            document.getElementById(swapTo).toggleAttribute("hidden");
            document.getElementById("addnew").toggleAttribute("hidden");
        }
        <% if (locals.loginFlag === true) {%>
            document.querySelector("header .login-bar").setAttribute("hidden", true); 
        <% } %>
    </script>
    <%- include("partials/footer.ejs") %>